/*------------------------------------*\
  Bcksp.es
  @authors Crucifix Arnaud (hello@crucifixarnaud.com)
\*------------------------------------*/

//====== Utils ======
// Various tools use everywhere in the project which are not directly link
// to a block
// ex: Variables, mixin, etc
@import "utils/functions";
@import "utils/variables";
@import "utils/mixins";
@import "utils/sizes";

//====== Base ======
// Various configuration or element which are use everywhere on the project (not depending on block
// ex: Reset, Fonts, Transition, Layout, etc
@import "bases/reset";
@import "bases/fonts";
@import "bases/typography";

//====== Layout ======
// Specific style for global block use for layout purpose.
// ex: Layout, grid, etc
@import "layout/layout";
@import "layout/grid";

//====== Blocks ======
// Reusable stand alone blocks which can be use everywhere on the project
// ex: Card, Button, Searchbox
@import "blocks/main-header";
@import "blocks/menu";
@import "blocks/button";

// Visibility Utils
// Need to be imported in last, to make sure these styles overwrite the older one
// ---------------------
@import "bases/visibility";