//====== Typography ======
// Import fontface and define various typography generic rules

// Global Typography
// ---------------------
html {

    /* Better font rendering (Mainly for Mac Os X) */
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

html,
body {
    color: $color-body;
}

// Title
// ---------------------
%title {
    font-family: $font-title;
    font-weight: $font-weight-title;
}

// Link
// ---------------------

a {
    color: $color-link;
    text-decoration: none;
    background-color: transparent; // Remove the gray background on active links in IE 10.
    -webkit-text-decoration-skip: objects; // Remove gaps in links underline in iOS 8+ and Safari 8+.

    @include hover {
        color: $color-link-hover;
        text-decoration: underline;
    }
}

// And undo these styles for placeholder links/named anchors (without href)
// which have not been made explicitly keyboard-focusable (without tabindex).
// It would be more straightforward to just use a[href] in previous block, but that
// causes specificity issues in many other styles that are too complex to fix.
// See https://github.com/twbs/bootstrap/issues/19402

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;

    @include hover-focus {
        color: inherit;
        text-decoration: none;
    }

    &:focus {
        outline: 0;
    }
}