/*------------------------------------*\
  > About
\*------------------------------------*/

.about {
  padding: $size-112 0 $size-205;
}

.about__container {
  @include media-query("medium") {
    display: flex;
  }
}

.about__title {
  font-size: $size-44;
  line-height: 1.27;
  text-transform: capitalize;
  max-width: 200px;
  margin-right: $size-65;
}

.about__content {
  font-size: $size-23;
  line-height: 1.39;
}

.about__content a {
  text-decoration: underline;

  &:hover {
    color: $color-body;
  }
}

// About intro variation
// ---------------------
.about--intro {
  position: relative;
  padding: 0 0 $size-205;
  margin-top: -$size-500;
}

.about--intro__container {
  position: relative;
  z-index: z("about-intro");
}

.about-parallax {
  margin-top: -$size-500;
  position: relative;
}

.about-parallax__background {
  // position: absolute;
  position: sticky;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  z-index: z("about-intro") - 1;
  background: $grey-thunder no-repeat right center;
  background-position: top right;

  @include media-query("medium") {
    padding-left: $size-230;
    background-image: url("/images/backgrounds/eraser-background.png");
  }

}

.about-parallax__background.fixed {
  position: fixed;
}

.about--intro,
.about--intro .about__title {
  color: #fff;
}

.about--intro a {
  color: #fff;
}

.about--intro .about__container {
  max-width: 680px;
  display: block;
}

.about--intro .about__title {
  font-family: $font-title;
  margin-bottom: $size-60;
  max-width: none;
}

.about--intro .about__content {
  margin-bottom: $size-126;
}

// About Long variation
// ---------------------
.about--long {
  margin-top: $size-35;
}