/*------------------------------------*\
  > About
\*------------------------------------*/

.about {
  padding: $size-112 0 $size-205 $size-230;
  background: $grey-thunder url("/images/backgrounds/eraser-background.png") no-repeat right center;
}

.about__container {
  max-width: 680px;
}

.about,
.about__title {
  color: #fff;
}

.about__title {
  font-size: $size-44;
  line-height: 1.27;
  text-transform: capitalize;
  max-width: 200px;
  font-family: $font-body;
  margin-bottom: $size-60;
}

.about__content {
  font-size: $size-23;
  line-height: 1.39;
  margin-bottom: $size-126;
}

.about__content a {
  color: #fff;
  text-decoration: underline;

  &:hover {
    color: #f06;
  }
}