/*------------------------------------*\
  > Artists
  Display the artists on the project
  e.g. About page artists section
\*------------------------------------*/

.artists {
  background: $grey-cod;
  padding: $size-40 0;
  margin-bottom: $size-120;

  @include media-query("medium") {
    padding: $size-160 0;
  }
}

.artists .container {
  display: flex;
}

.artists__column {
  @include media-query("medium") {
    width: 30%;
  }
}

.artists__column + .artists__column {
  @include media-query("medium") {
    width: 70%;
  }
}

.artists__title {
  font-size: $size-48;
  line-height: 0.5;
  color: #fff;
  margin-bottom: $size-40;

  // Small underline decoration
  @include titleDecoration(#fff);
}

.artists-list {
  list-style-type: none;
  padding: 0;
}

.artist,
.artist__name,
.artists__intro,
.artist__social-link {
  color: #fff;
}

.artist::before {
  display: block;
  content: "";
  width: 216px;
  height: 1px;
  background-color: #fff;
  margin-bottom: $size-24;
}

.artists__intro {
  font-family: $font-title;
}

.artists__intro,
.artist__description {
  font-size: $size-26;
  line-height: 1.38;
}

.artist__social-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.artist__social-list-item {
  display: inline-block;
}
