/*------------------------------------*\
  > Book
  Display the archive as book
  e.g. souvenir/book/creation
\*------------------------------------*/

.book {
	font-family : monospace;
	overflow : scroll;
	height : 700px;
	background:
		linear-gradient(white 30%, hsla(0,0%,100%, 0)),
		linear-gradient(hsla(0,0%,100%,0) 10px, white 70%) bottom,
		radial-gradient(at top, rgba(0,0,0,0.1), transparent 70%), 
		radial-gradient(at bottom, rgba(0,0,0,0.1), transparent 70%) bottom;
	background-repeat:no-repeat;
	background-size: 100% 20px, 100% 20px, 100% 10px, 100% 10px;
	background-attachment:local, local, scroll, scroll;
	.folio {
		display: flex;
		margin-bottom:20px;
		border: solid 1px black;
		background: 
			linear-gradient(90deg, rgba(0,0,0,0) 45%, rgba(0,0,0,0.075) 49.9%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.075) 50.1%, rgba(0,0,0,0) 55%);
		.page--wrapper{
			width: 50%;
			position: relative;
			.page--header{
				position: absolute;
				width: 100%;
				text-align: center;
				.page--counter{
					position: absolute;
					&.left{
						left: 0;
					}
					&.right{
						right: 0;
					}
				}
				.page--title{
					font-weight: bold;
				}
			}
			.page--content{
				overflow: hidden;
				.line--wrapper{
					word-break: break-all;
					white-space: pre-wrap;
				}
			}
		}
	}
}

