/*------------------------------------*\
  Button
\*------------------------------------*/

// Button Mixin
// ---------------------

// Button Default
@mixin button-default($color) {
  display: inline-block;
  background-color: $color;
  color: $color-body;
  padding: $size-8 $size-18 $size-6;
  text-transform: uppercase;
  font-family: $font-title;
  font-size: $size-16;
  transition: background .2s $easeInOutCubic;

  // Hover, focus, active interactions
  &:hover:not([disabled]),
  &:focus:not([disabled]) {
    color: inherit;
    text-decoration: none;
    background: darken($color, 10%);
  }

  &:active:not([disabled]) {
    background: darken($color, 15%);
  }
}

// Button Unstyled
@mixin button-unstyled() {
  display: inline-block;
  border: 0;
  padding: 0;

  // Hover, focus, active interactions
  &:hover:not([disabled]),
  &:focus:not([disabled]) {
    outline-color: $color-primary;
  }
}

// Declaration
// ---------------------

.button {
  cursor: pointer;
  border: 0;
  background: transparent;
  appearance: none;
}

.button--primary {
  @include button-default($primary);
}