/*------------------------------------*\
  How to
\*------------------------------------*/

.howto {
  padding: 0;
  margin: -200px 0 22px;
  list-style-type: none;

  @include media-query("medium") {
    display: flex;
    flex-direction: column;
  }

}

.howto__item:nth-child(odd) {
  align-self: flex-end;
}

// Step
// ---------------------
.step {
  max-width: 746px;
  margin-bottom: $size-40;

  @include media-query("medium") {
    margin-bottom: $size-148;
  }
}

.step__title {
  text-transform: capitalize;
}

.step__number {
  font-size: $size-48;
  font-family: $font-body;
  font-weight: 200;
  display: block;

  @include media-query("medium") {
    display: inline;
  }
}

// @warning
// Temporary hide first step (wait for final design)
.step > div > div:first-child{
  display: none;
}

// Step Content
// ---------------------
.step__content {
  @include media-query("medium") {
    margin-left: $size-40;
  }
}

.step__content p {
  font-size: $size-22;
  line-height: 1.36;
}