/*------------------------------------*\
  Main header
\*------------------------------------*/

.main-header {
  padding: $size-20 0;

  @include media-query("medium") {
    padding: $size-40 $size-60;
  }
}

.main-header__container {
  display: flex;
  justify-content: space-between;
}

