/*------------------------------------*\
  Menu
\*------------------------------------*/

.main-navigation {
  display: none;

  @include media-query("medium") {
    display: block;
  }
}

// Menu Header
// ---------------------
.menu--header {
  display: flex;
  max-width: 50%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

.menu--header .menu__item {
  display: block;

  &:first-child {
    margin: 0;
  }
}

.menu__item-link {
  display: inline-block;
  line-height: 1.0625;
  padding: 0;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: $font-title;
  color: $grey-thunder;
  cursor: pointer;

  &:hover {
    background-color: $color-link-background-hover;;
  }
}

.menu--header .menu__item-link {
  padding: $size-8 $size-18 $size-6;
}

// Menu Header Mobile
// ---------------------
.menu--header__mobile-trigger {
  display: none;
}