/*------------------------------------*\
  Punchline
\*------------------------------------*/

.punchline__title {
  text-align: center;
  font-family: $font-body;
  font-size: $size-70;
  font-weight: $font-weight-body;
  margin-bottom: $size-80;
}