/*------------------------------------*\
  > Slider
  Skin of https://github.com/akiran/react-slick
\*------------------------------------*/

.slick-slider {
  min-height: 600px;
}

.slick-arrow {
  height: 100%;
  width: 100px;
  background: $grey-thunder;
  z-index: z("slider") + 1;
  opacity: 0;
  transition: .2s opacity $easeInOutCubic;

  @include media-query("medium") {
    width: 230px;
  }

  &:hover {
    background: $grey-thunder;
  }
}

.slick-slider:hover .slick-arrow,
.slick-slider:focus-within .slick-arrow {
  opacity: 1;
}

.slick-prev:before {
  content: "<";
}

.slick-next:before {
  content: ">";
}