/*------------------------------------*\
  > Text Block
  Simple text block generaly displaying title and content
\*------------------------------------*/

.text-block {
  margin-bottom: $size-120;
  .masked {
    height: 100px;
    overflow: hidden;
    position: relative;
    &:before{
      content: " ";
      height: 100%;
      width: 100%;
      position: absolute;
      background: white;
      background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
      display: block;
    }
  }
}

.text-block__title {
  font-size: $size-48;
  text-transform: uppercase;

  @include media-query("desktop") {
    line-height: 0.5;
  }

  // Small underline decoration
  @include titleDecoration();
}

.text-block__link--title {
  text-decoration: none;
  position: relative;
  display: block;

  &:hover {
    background: transparent;
  }

  &:before {
    @include media-query("desktop") {
      content: "#";
      position: absolute;
      left: -#{$size-48};
      line-height: .5;
      opacity: 0;
      font-size: $size-48;
      font-family: $font-title;
      transition: opacity .2s $easeInOutCubic;
    }
  }

  &:hover::before,
  &:focus::before {
    @include media-query("desktop") {
      opacity: 1;
    }
  }
}

