/* CSS declarations go here */
.fullscreen{
	position: fixed;
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
html, body, #render-target{
	margin : 0;
	padding : 0;
    width: 100%;
    height: 100%;
}