
@font-face{
	font-family: interval;
	font-weight: bold;
	src: url(/fonts/interval/Interval Bold.otf);
}
@font-face{
	font-family: interval;
	font-weight: normal;
	src: url(/fonts/interval/Interval.otf);
}
html, 
body{
	background-color: #FFF;
	margin: 0;
	font-family: interval,monospace;
	font-weight: normal;
	color: #14141B;
	font-size: 14px;
}


footer li{
	padding-bottom: 5px;
	padding-top: 5px;
}

.btn-content-lg{
	line-height: 2.1em;
}

.btn-twitter{
	color: #fff;
	background-color: #55ACEE;
	
}
.btn-twitter:hover{
	color: #fff;
	text-decoration: none;
	background-color: #4A9CDA;
}

.btn-github{
	color: #fff;
	background-color: #333333;
	line-height: 2.1em;
}

.btn-github:hover{
	color: #fff;
	text-decoration: none;
	background-color: #252525;
}

.btn-fb{
	color: #fff;
	background-color: #4c66a4;
	line-height: 2.1em;
}
.btn-fb:hover{
	color: #fff;
	text-decoration: none;
	background-color: #3B5594;
}

.line-height{
	line-height: 2.9em;
}

.line-height-small{
	line-height: 2em;
}

.btn-nobg{
	color: #fff;
}

.btn-nobg:hover{
	color: #ddd;
}
.navbar .navbar-form .form-control{
	max-width: 156px;
}

.btn.btn-gradiant{
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #90D2E6), color-stop(1, #4D9BB3) );
	background: -moz-linear-gradient( center top, #90D2E6 5%, #4D9BB3 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#90D2E6', endColorstr='#4D9BB3');
	background-color: #90D2E6;
	text-shadow: 1px 1px 0px #B7D2DA;
	color: #213238;
	border: none;
	box-shadow: 1px 1px 3px #9BDAF0 inset, -1px -1px 3px #475E66 inset;
	line-height: 36px;
	border-radius: 10px;
}

#popover682348{
	display: none;
	left: 50%;
	transform-origin: 50% 50%;
	top: inherit;
}

#popover682348.in{
	display: block;
}

#popover682348.popover.bottom>.arrow {
	left: 10%;
}

header{
	background-image: url("/images/original.jpg");
	background-size: cover;
	background-position: 0 40%;
	padding: 40px 0;
	margin-bottom: 20px;
}
header h1 i{
	background-color: #fff;
	padding: 10px 10px 7px;
	font-size: 0.34em;
	font-style: normal;
	color: #56019E;
}
.wrapper{
	margin-top: 50px;
}

.highlight{
	padding: 9px 14px;
	margin-bottom: 14px;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	border-radius: 4px;
}
.highlight.bg-primary{
	color: #fff;
	background-color: #428bca;
}

.highlight h4{
	color: #444;
	text-transform: uppercase;
}
.highlight pre{
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	background-color: transparent;
	border: 0;
	max-height: 1000px;
}
@media screen and (max-width: 730px){
	.lastbackspace div.book{
		width: 350px;
	}
}
.lastbackspace .book{

	-webkit-column-width: 175px;
	-webkit-column-gap: 100px;
	-webkit-column-rule: solid 1px #ccc;

	-moz-column-width: 175px;
	-moz-column-gap: 100px;
	-moz-column-rule: solid 1px #ccc;
	column-width: 175px;
	column-gap: 100px;
	column-rule: solid 1px #ccc;
	-o-column-width: 175px;
	-o-column-gap: 100px;
	-o-column-rule: solid 1px #ccc;
	margin: 0 auto;
	padding: 75px 50px 50px 50px;
	width: 701px;
	height: 567px;
	word-break: break-all;
	overflow: scroll;
	border: solid 1px #ccc;
	background: #fff;
	color: #333;
	white-space: pre-wrap;
}

.captcha{
	padding: 5px;
	border: solid 1px #888;
	background-color: #fff;
	border-radius: 10px;
	margin: 0 0 10px 10px;
}

dt{
	font-size: 1.2em;
}

dd{
	margin-bottom: 15px;
}

.install span{
	line-height: 2.1em;
}