/*------------------------------------*\
  > Grid
\*------------------------------------*/

// Config
// ---------------------

/**
 * Define which namespaced breakpoints you would like to generate for each of
 *
 */
$breakpoint-enabled: ("x-small", "small", "medium", "desktop", "widescreen") !default;

// Mixins
// ---------------------

@mixin create-columns($prefix:"") {

    .#{$prefix}--1 {
        flex: 0 0 8.333%;
        max-width: 8.333%;
    }

    .#{$prefix}--2 {
        flex: 0 0 16.666%;
        max-width: 16.666%;
    }

    .#{$prefix}--3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .#{$prefix}--4 {
        flex: 0 0 33.333%;
        max-width: 33.333%;
    }

    .#{$prefix}--5 {
        flex: 0 0 41.666%;
        max-width: 41.666%;
    }

    .#{$prefix}--6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .#{$prefix}--7 {
        flex: 0 0 58.333%;
        max-width: 58.333%;
    }

    .#{$prefix}--8 {
        flex: 0 0 66.666%;
        max-width: 66.666%;
    }

    .#{$prefix}--9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .#{$prefix}--10 {
        flex: 0 0 83.333%;
        max-width: 83.333%;
    }

    .#{$prefix}--11 {
        flex: 0 0 91.666%;
        max-width: 91.666%;
    }

    .#{$prefix}--12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@mixin create-pull-columns($prefix:"") {

    .#{$prefix}--pull--1 {
        margin-right: 8.333%;
    }

    .#{$prefix}--pull--2 {
        margin-right: 16.666%;
    }

    .#{$prefix}--pull--3 {
        margin-right: 25%;
    }

    .#{$prefix}--pull--4 {
        margin-right: 33.333%;
    }

    .#{$prefix}--pull--5 {
        margin-right: 41.666%;
    }

    .#{$prefix}--pull--6 {
        margin-right: 50%;
    }

    .#{$prefix}--pull--7 {
        margin-right: 58.333%;
    }

    .#{$prefix}--pull--8 {
        margin-right: 66.666%;
    }

    .#{$prefix}--pull--9 {
        margin-right: 75%;
    }

    .#{$prefix}--pull--10 {
        margin-right: 83.333%;
    }

    .#{$prefix}--pull--11 {
        margin-right: 91.666%;
    }

    .#{$prefix}--pull--12 {
        margin-right: 100%;
    }
}

@mixin create-push-columns($prefix:"") {

    .#{$prefix}--push--1 {
        margin-left: 8.333%;
    }

    .#{$prefix}--push--2 {
        margin-left: 16.666%;
    }

    .#{$prefix}--push--3 {
        margin-left: 25%;
    }

    .#{$prefix}--push--4 {
        margin-left: 33.333%;
    }

    .#{$prefix}--push--5 {
        margin-left: 41.666%;
    }

    .#{$prefix}--push--6 {
        margin-left: 50%;
    }

    .#{$prefix}--push--7 {
        margin-left: 58.333%;
    }

    .#{$prefix}--push--8 {
        margin-left: 66.666%;
    }

    .#{$prefix}--push--9 {
        margin-left: 75%;
    }

    .#{$prefix}--push--10 {
        margin-left: 83.333%;
    }

    .#{$prefix}--push--11 {
        margin-left: 91.666%;
    }

    .#{$prefix}--push--12 {
        margin-left: 100%;
    }
}

@mixin create-horizontal-modifier($prefix:"") {
    .#{$prefix}--horizontal--end {
        display: flex;
        justify-content: flex-end;
    }

    .#{$prefix}--horizontal--center {
        display: flex;
        justify-content: center;
    }
}

@mixin create-vertical-modifier($prefix:"") {
    .#{$prefix}--vertical--centered {
        display: flex;
        align-items: center;
    }
}

// Rules
// ---------------------

.grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$gutter;
    padding: 0;
    width: calc(100% + #{$gutter});
    list-style-type: none;
}

.grid--centered {
    justify-content: space-between;
    align-items: center;
}

.grid__item {
    padding-left: $gutter;
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
}

.grid__item--centered {
    align-self: center;
}

@each $name in $breakpoint-enabled {
    @include media-query($name) {
        @include create-columns("#{$name}");
        @include create-push-columns("#{$name}");
        @include create-pull-columns("#{$name}");
        @include create-horizontal-modifier("#{$name}");
        @include create-vertical-modifier("#{$name}");
    }
}