/*------------------------------------*\
  > Layout.scss
  Define all general rules for layout conpomnent (container, etc)
\*------------------------------------*/

// Container, default centered container containing content
// ---------------------
.container {
  max-width: 942px;
  margin: 0 auto;
  padding: 0 $size-16;

  @include media-query("desktop") {
    padding: 0;
  }
}
