/*------------------------------------*\
  > Layout.scss
  Define all general rules for layout conpomnent (container, etc)
\*------------------------------------*/

.container,
.container--large {
  margin: 0 auto;
  width: 100%;
  padding: 0 $size-16;

}

// Container, default centered container containing content
// ---------------------
.container {
  max-width: 942px;

  @include media-query("desktop") {
    padding: 0;
  }
}

// Larger version of the container
.container--large {
  max-width: 1324px;

  @include media-query("xl") {
    padding: 0;
  }
}