/*------------------------------------*\
  > Homepage
\*------------------------------------*/

// Homepage Counter
// ---------------------
.homepage-counter {
  margin: $size-34 0 $size-90;
}

// souvenir-pannel
// ---------------------

.souvenir-pannel__intro {
  margin-top: $size-40;
  margin-bottom: $size-118;
}