/*------------------------------------*\
  > Sizes
  Size declaration reusable everywhere (for font-size, margin, etc)
\*------------------------------------*/

// Table convertation 'px' to 'rem'
// size-xx (xx stand for the desired size in pixel)
// ---------------------
$size-205: 12.8125rem;
$size-112: 7rem;
$size-80: 5rem;
$size-70: 4.375rem;
$size-65: 4.0625rem;
$size-60: 3.75rem;
$size-48: 3rem;
$size-46: 2.875rem;
$size-44: 2.75rem;
$size-40: 2.5rem;
$size-35: 2.1875rem;
$size-30: 1.875rem;
$size-23: 1.4375rem;
$size-22: 1.375rem;
$size-18: 1.125rem;
$size-16: 1rem;
$size-14: .875rem;
$size-10: .625rem;
$size-8: .5rem;
$size-6: .375rem;
