/*------------------------------------*\
  > Sizes
  Size declaration reusable everywhere (for font-size, margin, etc)
\*------------------------------------*/

// Table convertation 'px' to 'rem'
// size-xx (xx stand for the desired size in pixel)
// ---------------------
$size-230: 14.375rem;
$size-205: 12.8125rem;
$size-160: 10rem;
$size-155: 9.6875rem;
$size-148: 9.25rem;
$size-126: 7.875rem;
$size-120: 7.5rem;
$size-118: 7.375rem;
$size-112: 7rem;
$size-90: 5.625rem;
$size-80: 5rem;
$size-76: 4.75rem;
$size-70: 4.375rem;
$size-65: 4.0625rem;
$size-60: 3.75rem;
$size-54: 3.375rem;
$size-48: 3rem;
$size-46: 2.875rem;
$size-44: 2.75rem;
$size-40: 2.5rem;
$size-36: 2.25rem;
$size-35: 2.1875rem;
$size-34: 2.125rem;
$size-32: 2rem;
$size-30: 1.875rem;
$size-26: 1.625rem;
$size-24: 2rem;
$size-23: 1.4375rem;
$size-22: 1.375rem;
$size-18: 1.125rem;
$size-16: 1rem;
$size-14: .875rem;
$size-12: .75rem;
$size-10: .625rem;
$size-8: .5rem;
$size-6: .375rem;
