<form action="/user/update/<%= user.id %>" method="POST" class="form-signin">
	<h2 class="form-signin-heading">Hey, you're editing a user...</h2>
	<div class="control-group input-append">
		<input type="email" value="<%= user.email %>" class="form-control" placeholder="Your email" name="email" data-required data-pattern="^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$"/>
	</div>

	<div class="control-group input-append">
		<select class="form-control" name="admin">
			<option value="true" <% if(user.admin) { %> selected <% } %> ><i class="fa fa-star"></i> admin</option>
			<option value="false" <% if(!user.admin) { %> selected <% } %> ><i class="fa fa-star-o"></i> pawn</option>
		</select>
	</div>

	<br/>
	<div class="btn-group">
		<input type="submit" class="btn btn-lg btn-primary btn-block" value="Proceed" />
	</div>
	<input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>